{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="stylesheet" href="/css/reboot.css">
  <link rel="stylesheet" href="/css/site.css">
{% endblock %}
{% block body %}
  <div id="content">
    {{ content }}
  </div>
  <div id="links">
    {% for item in links %}
    <div class="item">
      <a href="{{ item.link }}" rel="me">
        <img src="{{ item.image }}#icon" alt="{{ item.name }}"/>
      </a>
    </div>
    {% endfor %}
  </div>
{% endblock %}
