<meta property="og:title" content="David Wood" />
<meta property="og:type" content="profile" />
<meta property="og:profile:first_name" content="David" />
<meta property="og:profile:last_name" content="Wood" />
<meta property="og:profile:username" content="davidtwco" />
<meta property="og:profile:gender" content="male" />
<meta property="og:url" content="https://davidtw.co" />
<meta property="og:image" content="https://davidtw.co/images/opengraph_cover.png" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
