@font-face {
    font-family: 'Rotunda';
    src: url('/fonts/rotunda-thin.eot');
    src: url('/fonts/rotunda-thin.eot?#iefix') format('embedded-opentype'),
         url('/fonts/rotunda-thin.woff2') format('woff2'),
         url('/fonts/rotunda-thin.woff') format('woff');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'Rotunda';
    src: url('/fonts/rotunda-thin-italic.eot');
    src: url('/fonts/rotunda-thin-italic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/rotunda-thin-italic.woff2') format('woff2'),
         url('/fonts/rotunda-thin-italic.woff') format('woff');
    font-weight: 200;
    font-style: italic;

}

@font-face {
    font-family: 'Rotunda';
    src: url('/fonts/rotunda-regular.eot');
    src: url('/fonts/rotunda-regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/rotunda-regular.woff2') format('woff2'),
         url('/fonts/rotunda-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Rotunda';
    src: url('/fonts/rotunda-regular-italic.eot');
    src: url('/fonts/rotunda-regular-italic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/rotunda-regular-italic.woff2') format('woff2'),
         url('/fonts/rotunda-regular-italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;

}

@font-face {
    font-family: 'Rotunda';
    src: url('/fonts/rotunda-bold.eot');
    src: url('/fonts/rotunda-bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/rotunda-bold.woff2') format('woff2'),
         url('/fonts/rotunda-bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'Rotunda';
    src: url('/fonts/rotunda-bold-italic.eot');
    src: url('/fonts/rotunda-bold-italic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/rotunda-bold-italic.woff2') format('woff2'),
         url('/fonts/rotunda-bold-italic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Rotunda';
    src: url('/fonts/rotunda-black.eot');
    src: url('/fonts/rotunda-black.eot?#iefix') format('embedded-opentype'),
         url('/fonts/rotunda-black.woff2') format('woff2'),
         url('/fonts/rotunda-black.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Rotunda';
    src: url('/fonts/rotunda-black-italic.eot');
    src: url('/fonts/rotunda-black-italic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/rotunda-black-italic.woff2') format('woff2'),
         url('/fonts/rotunda-black-italic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka Fixed';
    src: url('/fonts/iosevka-fixed-extralight.woff2') format('woff2'),
         url('/fonts/iosevka-fixed-extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Iosevka Fixed';
    src: url('/fonts/iosevka-fixed-extralight-italic.woff2') format('woff2'),
         url('/fonts/iosevka-fixed-extralight-italic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka Fixed';
    src: url('/fonts/iosevka-fixed-extralight-oblique.woff2') format('woff2'),
         url('/fonts/iosevka-fixed-extralight-oblique.woff') format('woff');
    font-weight: 200;
    font-style: oblique;
}

@font-face {
    font-family: 'Iosevka Fixed';
    src: url('/fonts/iosevka-fixed-regular.woff2') format('woff2'),
         url('/fonts/iosevka-fixed-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Iosevka Fixed';
    src: url('/fonts/iosevka-fixed-regular-italic.woff2') format('woff2'),
         url('/fonts/iosevka-fixed-regular-italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka Fixed';
    src: url('/fonts/iosevka-fixed-regular-oblique.woff2') format('woff2'),
         url('/fonts/iosevka-fixed-regular-oblique.woff') format('woff');
    font-weight: 400;
    font-style: oblique;
}

@font-face {
    font-family: 'Iosevka Fixed';
    src: url('/fonts/iosevka-fixed-semibold.woff2') format('woff2'),
         url('/fonts/iosevka-fixed-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Iosevka Fixed';
    src: url('/fonts/iosevka-fixed-semibold-italic.woff2') format('woff2'),
         url('/fonts/iosevka-fixed-semibold-italic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka Fixed';
    src: url('/fonts/iosevka-fixed-semibold-oblique.woff2') format('woff2'),
         url('/fonts/iosevka-fixed-semibold-oblique.woff') format('woff');
    font-weight: 600;
    font-style: oblique;
}

@font-face {
    font-family: 'Iosevka Fixed';
    src: url('/fonts/iosevka-fixed-extrabold.woff2') format('woff2'),
         url('/fonts/iosevka-fixed-extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Iosevka Fixed';
    src: url('/fonts/iosevka-fixed-extrabold-italic.woff2') format('woff2'),
         url('/fonts/iosevka-fixed-extrabold-italic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka Fixed';
    src: url('/fonts/iosevka-fixed-extrabold-oblique.woff2') format('woff2'),
         url('/fonts/iosevka-fixed-extrabold-oblique.woff') format('woff');
    font-weight: 800;
    font-style: oblique;
}

/*
 * vim:foldmethod=marker:foldlevel=0:et:ts=2:sts=2:sw=2:nowrap
 */
