body {
    margin-top: 3em;
    margin-bottom: 2em;

    color: #2f2f2f;

    font-family: "Rotunda",
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      "Noto Sans",
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 200;

    display: grid;
    grid-template-columns: 0.15fr minmax(0, 1fr) 0.15fr;
    grid-template-rows: repeat(4, auto);
}

code {
    font-family: "Iosevka Fixed",
      SFMono-Regular,
      Menlo,
      Monaco,
      Consolas,
      "Liberation Mono",
      "Courier New",
      monospace;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-weight: 200;
}

img[src$='#icon'] {
    height: 1.5em;
    width: 1.5em;
}

img[src$='#logo'] {
    border-radius: 5%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media(min-width: 600px) {
    body {
        grid-template-columns: 0.15fr minmax(0, 1fr) 0.15fr;
    }
}

@media(min-width: 1000px) {
    body {
        grid-template-columns: 0.25fr minmax(0, 1fr) 0.25fr;
    }
}

#content, #links {
    grid-column: 2;
    justify-self: center;
    text-align: center;
}

#content {
    grid-row: 2;
}

#links {
    grid-row: 3;
    margin-top: 1em;
}

.item {
    display: inline-block;
    font-size: 1rem;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.item img {
    filter: invert(72%) sepia(1%) saturate(0%) hue-rotate(322deg) brightness(86%) contrast(91%);
}

.item a {
    color: #9b9b9b;
}
