body {
  margin-top: 4em;

  color: #2f2f2f;

  font-family: "Rotunda",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 1.125rem;

  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: auto 1fr 1fr;
}

code {
  font-family: "Iosevka Fixed",
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    "Liberation Mono",
    "Courier New",
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

#header > img {
  width: 180px;
}

#header, #footer, #content {
  grid-column: 2 / span 10;
}

#header {
  margin-bottom: 1em;
  justify-self: center;
  grid-row: 1;
}

#content {
  grid-row: 2;
}

#footer {
  grid-row: 3;
}

@media(min-width: 800px) {
  body {
    grid-template-rows: auto 1fr;
  }

  #header, #footer {
    grid-column: 9 / 13;
  }

  #content {
    grid-column: 2 / 9;
    grid-row: 1 / span 2;
    padding-right: 1.5em;
  }

  #footer {
    grid-row: 2;
  }
}

@media(min-width: 1500px) {
  #header, #footer {
    grid-column: 8 / 10;
  }

  #content {
    grid-column: 4 / 8;
  }
}

/*
 * vim:foldmethod=marker:foldlevel=0:et:ts=2:sts=2:sw=2:nowrap
 */
