name: davidtw.co

on:
  push:
    branches: [ "master" ]

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v2

      - name: Install Nix
        uses: cachix/install-nix-action@v20
        with:
          nix_path: nixpkgs=channel:nixpkgs-unstable
          skip_adding_nixpkgs_channel: true

      - name: Add Cachix binary caches
        uses: cachix/cachix-action@v12
        with:
          name: veritas
          extraPullNames: cachix,helix
          signingKey: ${{ secrets.CACHIX_SIGNING_KEY }}

      - name: Build website
        run: |
          cp -R "$(nix-build --no-out-link)" result

      - name: Publish
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: result